@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400,600,700&display=swap'); 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131419;
}

.form {
    position: relative;
    width: 350px;
    padding: 40px 40px 60px;
    background: #131419;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05), 
                5px 5px 15px rgba(255,255,255,0.05);
}

.form h2{
    color: #c7c7c7;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.form .input{
    text-align: left;
    margin-top: 40px;
}

.form .input .inputBox{
    margin-top: 20px;
}

.form .input .inputBox label {
    display: block;
    color: #868686;
    margin-bottom: 5px;
    font-size: 18px;
}

.form .input .inputBox input {
    width: 100%;
    height: 50px;
    background: #131419;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 15px;
    color: #fff;
    font-size: 18px;
    color: #03a9f4;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05), inset 2px 2px 6px rgba(255,255,255,0.05);
}

.form .input .inputBox input[type="submit"] {
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255,255,255,0.05), 2px 2px 6px rgba(255,255,255,0.05);
}

.form .input .inputBox input[type="submit"]:active {
    color: #006c9c;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.05), inset 2px 2px 6px rgba(255,255,255,0.05);
}

.not-registered {
    color: #c7c7c7;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}
    
select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #006c9c;
    cursor: pointer;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
    color: #f39c12;
    border-radius: 25px;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
}
.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
    border-radius: 25px;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-radius: 25px;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-radius: 25px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
    border-radius: 25px;
}

.draw-border:hover {
    color: #ffe593;
    border-radius: 25px;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
    border-radius: 25px;
}

.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
    border-radius: 25px;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
    border-radius: 25px;
}

.btn:focus {
    outline: 2px dotted #55d7dc;
}

.show-subject {
    color: #006c9c;

}
.show-subject th{
    width: 125px;
    height:25px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}