
@{
    ViewData["Title"] = "SetValuationSuccessful";
}
    <div class="header">
        <a  class="btn draw-border" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>
    <h1>SetValuationSuccessful</h1>